.git
.gitignore
.vscode
.idea
.env
.env.*
*.log
logs/
app.log
full.log
runtime.log
runtime17.log
target/
**/target/
**/.DS_Store
**/*.iml
node_modules/
.gitmodules
README.md
DEPLOYMENT_GUIDE.md
HELP.md
GETTING_STARTED.md
**/frontend-integration/
**/filebeat/
**/filebeat.yml/
